<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <h1>You have Funds expiring!!</h1>
    <p>
      Your Southwest funds for <%= @trip.confirmation_code %> 
      are expiring on <%= @trip.exp_date %>.<br>
    </p>
    <p>
      Don't let your Funds go to waste! Visit <%= @url %> and book a flight. </br></br>

      KEEP IN MIND: "All travel involving Travel Funds from an unused or cancelled reservation or a Southwest LUV Voucher must be completed by the expiration date. Travel Funds from an unused or cancelled reservation may only be applied toward the purchase of future travel for the individual named on the ticket."‡

    </p>
    <p>Have a great day! </br>
    	The Travel Funds Team
    </p>

    <p>‡ Directly from <a href="https://www.southwest.com/flight/travel-funds-search.html">Southwest's Travel Funds page</a> . </p>
  
  </body>

</html>